
* {
    box-sizing: border-box;
}

.AllText {
    display: flex;
}

.AllText .HelpText {
    float: left;
    background-color: lightblue;
    width: auto;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    height: auto;
    max-height: 600px;
    margin:50px;
    margin-right:30px;
    margin-bottom: 70px;
    line-height:2;
    flex: 1;
    text-align: center;
    border-radius: 4px;
}


.AllText .MicrophoneImage {
    width: auto;
    height: auto;
    max-height: 50%;
    max-width: 45%;
    padding-left: 5px;
    padding-right: 70px;
    max-height: 600px;
    margin:50px;
    margin-right:30px;
    margin-bottom: 70px;
    line-height:2;
    flex: 2;
    border-radius: 4px;

}

.AllText .HelpText #Faq {
    float: left;
    background-color: lightblue;
    align-items: center;
    text-align: center;
    color: lightblue;
    width: 100%;
    padding-top: 20px;
}

@media screen and (max-width: 800px) {
    .AllText .MicrophoneImage {
            display: none;
        }

}

